In [3]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_excel("/home/vishalthadari/Documents/Retail.xlsx")
df.head()
df1 = df

In [4]:
df1.Country.nunique()

38

In [5]:
df1.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [6]:
customer_country=df1[['Country','CustomerID']].drop_duplicates()

customer_country.groupby(['Country'])['CustomerID'].aggregate('count').reset_index().sort_values('CustomerID', ascending=False)

                 Country  CustomerID
36        United Kingdom        3950
14               Germany          95
13                France          87
31                 Spain          31
3                Belgium          25
33           Switzerland          21
27              Portugal          19
19                 Italy          15
12               Finland          12
1                Austria          11
25                Norway          10
24           Netherlands           9
0              Australia           9
6        Channel Islands           9
9                Denmark           9
7                 Cyprus           8
32                Sweden           8
20                 Japan           8
26                Poland           6
34                   USA           4
5                 Canada           4
37           Unspecified           4
18                Israel           4
15                Greece           4
10                  EIRE           3
23                 Malta           2
35  United Arab Emirates           2
2                Bahrain           2
22             Lithuania           1
8         Czech Republic           1
21               Lebanon           1
28                   RSA           1
29          Saudi Arabia           1
30             Singapore           1
17               Iceland           1
4                 Brazil           1
11    European Community           1
16             Hong Kong           0

In [7]:
df1 = df1.loc[df1['Country'] == 'United Kingdom']

In [8]:
def unique_counts(df1):
   for i in df1.columns:
       count = df1[i].nunique()
       print(i, ": ", count)
unique_counts(df1)

InvoiceNo :  23494
StockCode :  4065
Description :  4202
Quantity :  715
InvoiceDate :  21220
UnitPrice :  1574
CustomerID :  3950
Country :  1

In [9]:
df1['TotalPrice'] = df1['Quantity'] * df1['UnitPrice']

In [10]:
df1['InvoiceDate'].min()

Timestamp('2010-12-01 08:26:00')

In [11]:
df1['InvoiceDate'].max()

Timestamp('2011-12-09 12:49:00')

In [13]:
import datetime as dt
NOW = dt.datetime(2011,12,10)

df1['InvoiceDate'] = pd.to_datetime(df1['InvoiceDate'])

In [14]:
rfmTable = df1.groupby('CustomerID').agg({'InvoiceDate': lambda x: (NOW - x.max()).days, 'InvoiceNo': lambda x: len(x), 'TotalPrice': lambda x: x.sum()})

rfmTable['InvoiceDate'] = rfmTable['InvoiceDate'].astype(int)
rfmTable.rename(columns={'InvoiceDate': 'recency', 
                         'InvoiceNo': 'frequency', 
                         'TotalPrice': 'monetary_value'}, inplace=True)

In [15]:
rfmTable.head()

            recency  frequency  monetary_value
CustomerID
12346.0         325          2            0.00
12747.0           2        103         4196.01
12748.0           0       4642        29072.10
12749.0           3        231         3868.20
12820.0           3         59          942.34

In [27]:
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75])
quantiles1 = quantiles.to_dict()
print(quantiles1)

{'recency': {0.25: 16.0, 0.5: 50.0, 0.75: 143.0}, 'frequency': {0.25: 17.0, 0.5: 41.0, 0.75: 101.0}, 'monetary_value': {0.25: 282.255, 0.5: 627.0600000000001, 0.75: 1521.7825}, 'r_quartile': {0.25: 1.0, 0.5: 2.0, 0.75: 3.0}, 'f_quartile': {0.25: 2.0, 0.5: 3.0, 0.75: 4.0}, 'm_quartile': {0.25: 1.25, 0.5: 2.5, 0.75: 3.75}}

In [28]:
segmented_rfm = rfmTable
print(segmented_rfm)

            recency  frequency  monetary_value  r_quartile  f_quartile  \
CustomerID
12346.0         325          2    0.000000e+00           4           4
12747.0           2        103    4.196010e+03           1           1
12748.0           0       4642    2.907210e+04           1           1
12749.0           3        231    3.868200e+03           1           1
12820.0           3         59    9.423400e+02           1           2
12821.0         214          6    9.272000e+01           4           4
12822.0          70         47    9.189800e+02           3           2
12823.0          74          5    1.759500e+03           3           4
12824.0          59         25    3.971200e+02           3           3
12826.0           2         94    1.468120e+03           1           2
12827.0           5         25    4.301500e+02           1           3
12828.0           2         56    1.018710e+03           1           2
12829.0         322         12    2.530500e+02           4           4
12830.0          37         39    6.748400e+03           2           3
12831.0         262          9    2.150500e+02           4           4
12832.0          32         27    3.830300e+02           2           3
12833.0         145         24    4.173800e+02           4           3
12834.0         282         18    3.123800e+02           4           3
12836.0          59        175    2.612860e+03           3           1
12837.0         173         12    1.341000e+02           4           4
12838.0          33        123    6.831300e+02           2           1
12839.0           2        316    5.583620e+03           1           1
12840.0         143        116    2.714270e+03           3           1
12841.0           4        439    3.876400e+03           1           1
12842.0          70         34    1.118990e+03           3           3
12843.0          65        108    1.680760e+03           3           1
12844.0          29         52    3.259600e+02           2           2
12845.0         267         27    3.540900e+02           4           3
12847.0          22         91    8.715400e+02           2           2
12849.0          31         51    1.050890e+03           2           2
...             ...        ...             ...         ...         ...
18245.0           7        177    2.507560e+03           1           1
18246.0          23          4    5.961000e+02           2           4
18248.0         113         49    7.830200e+02           3           2
18249.0          17          8    9.534000e+01           2           4
18250.0         301         22    3.429200e+02           4           3
18251.0          87         16    4.314720e+03           3           4
18252.0          50         98    5.266700e+02           2           2
18255.0          89          6    1.033000e+02           3           4
18256.0         354          4   -5.010000e+01           4           4
18257.0          39        123    2.265380e+03           2           1
18259.0          24         42    2.338600e+03           2           2
18260.0         172        140    2.595000e+03           4           1
18261.0          43         21    3.242400e+02           2           3
18262.0         140         13    1.494800e+02           3           4
18263.0          23         62    1.211080e+03           2           2
18265.0          72         46    8.015100e+02           3           2
18268.0         134          2    0.000000e+00           3           4
18269.0         358          8    1.389000e+02           4           4
18270.0          38         13    2.389500e+02           2           4
18272.0           2        170    3.064780e+03           1           1
18273.0           2          3    2.040000e+02           1           4
18274.0          17         22   -1.776357e-15           2           3
18276.0          21         16    3.233600e+02           2           4
18277.0          58          9    9.763000e+01           3           4
18278.0          73          9    1.739000e+02           3           4
18280.0         277         10    1.806000e+02           4           4
18281.0         180          7    8.082000e+01           4           4
18282.0           7         13    1.766000e+02           1           4
18283.0           3        756    2.094880e+03           1           1
18287.0          42         70    1.837280e+03           2           2

            m_quartile RFMScore
CustomerID
12346.0              4      444
12747.0              1      111
12748.0              1      111
12749.0              1      111
12820.0              2      122
12821.0              4      444
12822.0              2      322
12823.0              1      341
12824.0              3      333
12826.0              2      122
12827.0              3      133
12828.0              2      122
12829.0              4      444
12830.0              1      231
12831.0              4      444
12832.0              3      233
12833.0              3      433
12834.0              3      433
12836.0              1      311
12837.0              4      444
12838.0              2      212
12839.0              1      111
12840.0              1      311
12841.0              1      111
12842.0              2      332
12843.0              1      311
12844.0              3      223
12845.0              3      433
12847.0              2      222
12849.0              2      222
...                ...      ...
18245.0              1      111
18246.0              3      243
18248.0              2      322
18249.0              4      244
18250.0              3      433
18251.0              1      341
18252.0              3      223
18255.0              4      344
18256.0              4      444
18257.0              1      211
18259.0              1      221
18260.0              1      411
18261.0              3      233
18262.0              4      344
18263.0              2      222
18265.0              2      322
18268.0              4      344
18269.0              4      444
18270.0              4      244
18272.0              1      111
18273.0              4      144
18274.0              4      234
18276.0              3      243
18277.0              4      344
18278.0              4      344
18280.0              4      444
18281.0              4      444
18282.0              4      144
18283.0              1      111
18287.0              1      221

[3950 rows x 7 columns]

In [24]:
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [25]:
segmented_rfm['r_quartile'] = segmented_rfm['recency'].apply(RScore, args=('recency',quantiles,))
segmented_rfm['f_quartile'] = segmented_rfm['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmented_rfm['m_quartile'] = segmented_rfm['monetary_value'].apply(FMScore, args=('monetary_value',quantiles,))

segmented_rfm.head()

TypeError: RScore() takes 1 positional argument but 3 were given

In [22]:
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str)+segmented_rfm.f_quartile.map(str)+segmented_rfm.m_quartile.map(str)
segmented_rfm.head()

,recency,frequency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
CustomerID,,,,,,,
12346.0,325,2,0.00,4,4,4,444
12747.0,2,103,4196.01,1,1,1,111
12748.0,0,4642,29072.10,1,1,1,111
12749.0,3,231,3868.20,1,1,1,111
12820.0,3,59,942.34,1,2,2,122

In [23]:
segmented_rfm[segmented_rfm['RFMScore']=='111'].sort_values('monetary_value', ascending=False).head(10)

,recency,frequency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
CustomerID,,,,,,,
18102.0,0,433,256438.49,1,1,1,111
17450.0,8,351,187482.17,1,1,1,111
17511.0,2,1076,88125.38,1,1,1,111
16684.0,4,281,65892.08,1,1,1,111
13694.0,3,585,62653.10,1,1,1,111
15311.0,0,2491,59419.34,1,1,1,111
13089.0,2,1857,57385.88,1,1,1,111
14096.0,4,5128,57120.91,1,1,1,111
15061.0,3,410,54228.74,1,1,1,111
15769.0,7,147,51823.72,1,1,1,111